.headerWrapper {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  align-items: center;
  font-weight: 500;
  padding-bottom: 10px;
}

.title {
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
}

.date {
  font-size: 1rem;
  font-weight: 400;
}

.ul {
  padding: 0 20px;
}

@media (min-width: 900px) {
  .headerWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .date {
    font-size: 1.2rem;
  }
}
